// CSS Clamp

h1 {
  font-size: clamp(
    24px,     // min
    5vw,     // value
    48px  // max
  );
}

// Center with flexbox

.box {
  display: flex;
  align-items: center;  // vertical center
  justify-content: center; // horizontal center
}


// Use a SVG as a mask. Great for changing the color of single color icons

.mask {
  mask: url(mask.svg);
  -webkit-mask: url(mask.svg);
  mask-size: 19px 18px;
  -webkit-mask-size: 19px 18px;
  background-color:red:
}



/*************************** Blob Mask & Animation ****************************************************************************/

.blob--animated {
  object-fit: cover;

  @supports(-webkit-mask-image: url(#mask)) or (mask-image: url(#mask)) {
    -webkit-mask-image: url(../images/svg/blob.svg#mask);
    mask-image: url(../images/svg/blob.svg#mask);
    
    -webkit-mask-repeat: no-repeat;  
    mask-repeat: no-repeat; 

    --time:10s;
    --amount:4;
      
    animation: blob-animate calc( var(--time, 30s) * 0.5 ) linear 0s infinite;
    transform-origin: center;   

    img {
      animation: blob-animate-invert calc( var(--time, 30s) * 0.5 ) linear 0s infinite;

      width:115%;
      height:110%;

      margin-top:-5%;
      margin-left:-5%;
    }
    
  } 
  
}

@keyframes blob-animate {
  0% {
    transform: skewY(0deg);    
  }
  13% {
    transform: skewY( calc( (1.8deg) * var(--amount, 2)) );
  }
  18% {
    transform: skewY( calc( (2.2deg) * var(--amount, 2)) );
  }
  24% {
    transform: skewY( calc( (2.48deg) * var(--amount, 2)) );
  }
  25% {
    transform: skewY( calc( (2.5deg) * var(--amount, 2)) );
  }
  26% {
    transform: skewY( calc( (2.48deg) * var(--amount, 2)) );
  }
  32% {
    transform: skewY( calc( (2.2deg) * var(--amount, 2)) );
  }
  37% {
    transform: skewY( calc( (1.5deg) * var(--amount, 2)) );
  }
  50% {
    transform: skewY(0deg);
  }
  63% {
    transform: skewY( calc( (-1.5deg) * var(--amount, 2)) );
  }
  68% {
    transform: skewY( calc( (-2.4deg) * var(--amount, 2)) );
  }
  74% {
    transform: skewY( calc( (-2.68deg) * var(--amount, 2)) );
  }
  75% {
    transform: skewY( calc( (-2.7deg) * var(--amount, 2)) );
  }
  76% {
    transform: skewY( calc( (-2.68deg) * var(--amount, 2)) );
  }
  82% {
    transform: skewY( calc( (-2.4deg) * var(--amount, 2)) );
  }
  87% {
    transform: skewY( calc( (-2deg) * var(--amount, 2)) );
  }  
  100% {
    transform: skewY( calc( (-1deg) * var(--amount, 2)) );
  }
}

@keyframes blob-animate-invert {
  0% {
    transform: skewY(0deg);    
  }
  13% {
    transform: skewY( calc( (-1.8deg) * var(--amount, 2)) );
  }
  18% {
    transform: skewY( calc( (-2.2deg) * var(--amount, 2)) );
  }
  24% {
    transform: skewY( calc( (-2.48deg) * var(--amount, 2)) );
  }
  25% {
    transform: skewY( calc( (-2.5deg) * var(--amount, 2)) );
  }
  26% {
    transform: skewY( calc( (-2.48deg) * var(--amount, 2)) );
  }
  32% {
    transform: skewY( calc( (-2.2deg) * var(--amount, 2)) );
  }
  37% {
    transform: skewY( calc( (-1.5deg) * var(--amount, 2)) );
  }
  50% {
    transform: skewY(0deg);
  }
  63% {
    transform: skewY( calc( (1.5deg) * var(--amount, 2)) );
  }
  68% {
    transform: skewY( calc( (2.4deg) * var(--amount, 2)) );
  }
  74% {
    transform: skewY( calc( (2.68deg) * var(--amount, 2)) );
  }
  75% {
    transform: skewY( calc( (2.7deg) * var(--amount, 2)) );
  }
  76% {
    transform: skewY( calc( (2.68deg) * var(--amount, 2)) );
  }
  82% {
    transform: skewY( calc( (2.4deg) * var(--amount, 2)) );
  }
  87% {
    transform: skewY( calc( (2deg) * var(--amount, 2)) );
  }  
  100% {
    transform: skewY( calc( (1deg) * var(--amount, 2)) );
  }
}

